<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ActAnalyzer Viewer</title>
</head>
<body>
    <header>
        <h3>ActAnalyzer Viewer</h3>
    </header>

    <button onclick="redirectToUsersList()"><p>{{translation.LIST_OF_ALL_USERS}}</p></a></button>

    <script>
        function redirectToUsersList() { window.location.href = "/users/list" }
    </script>
</body>
</html>